PORT=3000
PATIENTS_DB_URL="postgresql://patients_user:patients_pass@localhost:5433/patients"
USER_DB_URL="postgresql://users_user:users_pass@localhost:5434/users"
TRIAGE_DB_URL="postgresql://triage_user:triage_pass@localhost:5435/triage"
EHR_DB_URL="postgresql://ehr_user:ehr_pass@localhost:5436/ehr"
JWT_SECRET="your_jwt_secret"
PATIENTS_SERVICE_URL=http://localhost:3001
USERS_SERVICE_URL=http://localhost:3002
EHR_SERVICE_URL=http://localhost:3003
TRIAGE_SERVICE_URL=http://localhost:3004
HTTP_CLIENT_TIMEOUT=5000
RABBITMQ_URL="amqp://admin:admin@localhost:5672"
RABBITMQ_QUEUE_TRIAGE_EVENTS="triage.events"
RABBITMQ_EXCHANGE_TRIAGE="triage.exchange"
RABBITMQ_QUEUE_PATIENTS_EVENTS="patients.events"
RABBITMQ_EXCHANGE_PATIENTS="patients.exchange"
RABBITMQ_QUEUE_EHR_EVENTS="ehr.events"
RABBITMQ_EXCHANGE_EHR="ehr.exchange"
PATIENTS_URL='http://localhost:3001'
USERS_URL='http://localhost:3002'
EHR_URL='http://localhost:3003'
TRIAGE_URL='http://localhost:3004'
HUGGINGFACE_API_KEY="your_huggingface_api_key"
HUGGINGFACE_MODEL='your_huggingface_model_name'